<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://function-with-swagger20221101164153.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>false</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/1ee50a1b-d345-4f27-b715-12e9b1e5cc79/resourcegroups/apim-test/providers/Microsoft.Web/sites/function-with-swagger20221101164153</ResourceId>
    <UserName>$function-with-swagger20221101164153</UserName>
    <_SavePWD>true</_SavePWD>
    <PublishUrl>https://function-with-swagger20221101164153.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>